:root {
    box-sizing: border-box;
    font-size: 62.5%;

    /* VARS */
    --bg: #121212;
    --fg: #cfcfcf;
    --alt: #454545;

    background: var(--bg);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100svh;
    color: var(--fg);
    font-family: monospace;
}

h1 {
    font-size: 3.2rem;
    text-align: center;
    padding: 40px 0;
}

button {
    all: unset;
    font-size: 1.6rem;
    padding: 2px 5px;
    background: var(--alt);
}

button:hover {
    background: var(--fg);
    color: var(--bg);
}

form {
    display: grid;
    grid-template-rows: repeat();
    row-gap: min(3vw, 30px);
    font-size: 1.6rem;
}

input {
    padding: 0 4px;
}

fieldset {
    padding: 20px;
}

.row {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: min(3vw, 30px);
    justify-items: center;
    margin: 10px 0;
    padding: 10px 0;
}

.row:first-child {
    background: var(--alt);
    font-weight: bold;
}

.make-entry {
    padding: 50px 0;
}

.create-form {
    position: absolute;
    top: 0;
}
